$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// レガシーブラウザ向けの表示
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// html要素
html {
  // 相対指定するための、高さ指定
  height: 100%;
}

// body要素
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #EAEAEA !important;
  // 相対指定するための、高さ指定
  height: 100%;
  width: 100%;
}

// 全体の要素のコンテナ
.container {
  // 相対指定するための、高さ指定
  height: 100%;
  width: 100%;
}

// ngView要素のコンテナ
.ng-view-container {
  // 相対指定するための、高さ指定
  height: 100%;
  width: 100%;
}

// ヘッダー部分のタイトル表示(todos)
.header-title {
  text-align: center;
  font-size: 60px;
  color: #BEBEBE;
  text-shadow: #EFEFEF 1px 1px 0px, #EFEFEF -1px 1px 0px, #EFEFEF 1px -1px 0px, #EFEFEF -1px -1px 0px
}