@charset "utf-8";

// BODYの背景色
$body_bg_color: #EAEAEA;

// 通常のテキスト食
$main_text_color: #6F6F6F;

// 薄めのテキスト色
$thin_text_color: #969696;

// フォームの横幅
$todo_form_width: 500px;

// 左バーの色
$form_leftbar_color: red;

// 上バーの色
$form_topbar_color: #614545;