@charset "utf-8";
@import "../../bower_components/compass-mixins/lib/compass/_css3.scss";
@import "settings";
@import "mixin/bar";
@import "mixin/layout";

// TODOのフォーム
.todo-form-wrapper{
  width: $todo_form_width;
  margin: 25px auto 30px auto;
  @include box-shadow(5px 11px 30px 20px rgba(0, 0, 0, 0.2));

  .todo-form {
    background-color: rgb(242, 242, 242);

    .leftbar {
      z-index: 99;
      height: 80px;
      @include vertical_bar($form_leftbar_color, 0.2);
    }

    .topbar {
      z-index: 100;
      height: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      @include horizontal_bar($form_topbar_color, 0.7);
    }

    // フォーム入力の下矢印アイコン
    img.todo-form-toggle-complete {
      margin: -10px 0 0 1px;
      @include opacity(0.5);

      // フォーム入力の下矢印アイコン(全TODO完了時の表示)
      &.is-completed {
        @include opacity(1);
      }
    }

    // フォーム入力
    input.todo-input {
      margin: 10px 0 12px 15px;
      border: none;
      height: 38px;
      color: $main_text_color;
      font-size: 25px;
      width: 85%;
      outline: 0;

      // フォーム入力が空の場合
      &.is-blank {
        font-style: italic;
      }
    }

    // Todo一覧
    .todo-list-item {
      color: $main_text_color;

      // todoの要素のチェックマーク
      span.todo-form-check {
        position: absolute;
        font-size: 30px;
        margin-top: 6px;

        // todoの要素のチェックマーク(完了済みの場合)
        &.is-completed {
          color: rgba(0, 128, 0, 0.5);
        }
      }

      // todoのそれぞれの要素向けの左部のバー表示
      .leftbar-short {
        z-index: 99;
        height: 50px;
        @include vertical_bar($form_leftbar_color, 0.2);
      }

      // todoの要素の削除ボタン
      span.todo-form-remove {
        font-size: 30px;
        color: rgba(213, 69, 17, 0.7);
        margin: 0 12px 0 0;
        font-weight: bold;
        @include transition(all 0.1s linear);

        // todoの要素の削除ボタンのホバー表示
        &:hover {
          @include scale(1.5);
          @include text-shadow(0 0 5px red);
        }
      }

      // todoのそれぞれの要素
      .todo-list-task {
        background-color: white;
        padding: 8px 0 0 45px;
        border-top: 1px dotted rgba(0, 0, 0, 0.2);
        height: 50px;
        font-size: 25px;
        width: 100%;
        outline: 0;

        // todoのそれぞれの要素(完了済みの場合)
        &.is-completed {
          text-decoration: line-through;
        }
      }

      // todoのそれぞれの要素の編集用InputBox
      input.todo-edit {
        margin: -44px 0 0 42px;
        width: 35%;
        position: absolute;
        border: 2px solid transparent;
        font-size: 25px;
        outline: 0;
        @include border_radius(5px);

        // todoのそれぞれの要素の編集用InputBoxのfocus時
        &:focus {
          border: 2px solid rgba(0, 102, 255, 0.50);
        }
      }
    }

    // todoの下部のフッター表示の装飾部分
    div.todo-footer-wrapper {
      background-color: #EAEAEA;
      height: 4px;
      border-bottom: solid 1px #CCC;
      width: $todo_form_width - 15;
      margin-left: 7px;
      position: absolute;

      // todoの下部のフッター表示
      div.todo-footer {
        background-color: #EAEAEA;
        color: $main_text_color;
        height: 30px;
        width: 98%;
        margin: 4px 0 0 5px;
        position: absolute;
        padding: 5px 10px 0 10px;

        // todoの下部のフッターの表示位置の修正用スタイル
        span.footer-left {
          position: absolute;
          left: 10px;
        }

        span.footer-right {
          position: absolute;
          right: 10px;
        }

        // todoの下部のフッター表示内のボタン
        button.btn-small {
          font-size: 11px;
          white-space: nowrap;
          margin-top: -3px;
          vertical-align: middle;
          background-color: #BEBEBE;

          @include inline-block;
          @include border_radius(3px);
          @include colored_border(#999);

          // todoの下部のフッター表示内のボタンのホバー表示
          &:hover {
            background-color: #B0B0B0;
          }
        }

        // todoの下部のフッター表示内のフィルタの表示
        div.todo-form-filters {
          text-align: center;

          // 要素の表示間隔を広げる。
          span {
            padding-left: 5px;

            // 選択されている要素
            &.is-selected {
              font-weight: bold;
            }
          }

        }
      }
    }
  }
}

// フッター部分
.footer {
  text-align: center;
  color: $thin_text_color;
  line-height: 30px;

  // フッター内のリンク
  a {
    color: $thin_text_color !important;
    text-decoration: underline;
  }
}
