.footer {
  text-align: center;
  color: #969696;
  line-height: 30px;
  padding-top: 50px; }

div.todo-form-wrapper {
  width: 550px;
  margin: 25px auto 30px auto;
  box-shadow: 5px 12px 55px 25px rgba(0, 0, 0, 0.1); }

div.todo-form {
  background-color: white; }
  div.todo-form div.todo-form-topbar {
    height: 20px;
    background-color: #614545;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    opacity: 0.7;
    z-index: 100; }
  div.todo-form div.todo-form-leftbar {
    border-left: 1px solid red;
    border-right: 1px solid red;
    margin-left: 30px;
    position: absolute;
    height: 80px;
    width: 4px;
    opacity: 0.2;
    z-index: 99; }
  div.todo-form input.todo-form-input {
    margin: 10px 0 12px 15px;
    border: none;
    height: 38px;
    color: #6F6F6F;
    font-size: 25px;
    width: 85%;
    outline: 0; }
  div.todo-form input.todo-form-input.left-spaced {
    margin-left: 45px; }
  div.todo-form img.todo-form-down-arrow {
    margin: -10px 0 0 1px;
    opacity: 0.5; }
  div.todo-form img.todo-form-down-arrow.is-completed {
    opacity: 1; }
  div.todo-form input.todo-form-input.is-blank {
    font-style: italic; }
  div.todo-form div.todo-list-item {
    color: #6F6F6F; }
    div.todo-form div.todo-list-item span.todo-form-check {
      position: absolute;
      font-size: 30px;
      margin-top: 6px; }
    div.todo-form div.todo-list-item span.todo-form-check.is-completed {
      color: rgba(0, 128, 0, 0.5); }
    div.todo-form div.todo-list-item span.todo-form-remove {
      font-size: 30px;
      color: rgba(213, 69, 17, 0.7);
      margin: 0 12px 0 0;
      font-weight: bold;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear; }
    div.todo-form div.todo-list-item span.todo-form-remove:hover {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      text-shadow: 0 0 5px red; }
    div.todo-form div.todo-list-item div.todo-form-leftbar-short {
      border-left: 1px solid red;
      border-right: 1px solid red;
      margin-left: 30px;
      position: absolute;
      height: 50px;
      width: 4px;
      opacity: 0.2;
      z-index: 99; }
    div.todo-form div.todo-list-item div.todo-list-task {
      background-color: white;
      padding: 8px 0 0 45px;
      border-top: 1px dotted rgba(0, 0, 0, 0.2);
      height: 50px;
      font-size: 25px;
      width: 100%;
      outline: 0; }
    div.todo-form div.todo-list-item input.todo-form-input {
      margin: -43px 0 0 42px;
      width: 44%;
      position: absolute;
      border-radius: 5px;
      border: 2px solid transparent; }
    div.todo-form div.todo-list-item input.todo-form-input:focus {
      border: 2px solid rgba(0, 102, 255, 0.5); }
    div.todo-form div.todo-list-item div.todo-list-task.is-completed {
      text-decoration: line-through; }
  div.todo-form div.todo-form-footer-wrapper {
    background-color: #EAEAEA;
    height: 4px;
    border-bottom: solid 1px #ccc;
    width: 535px;
    margin-left: 7px;
    position: absolute; }
    div.todo-form div.todo-form-footer-wrapper div.todo-form-footer {
      background-color: #EAEAEA;
      color: #717171;
      height: 30px;
      width: 98%;
      margin: 4px 0 0 5px;
      position: absolute;
      padding: 5px 10px 0 10px; }
      div.todo-form div.todo-form-footer-wrapper div.todo-form-footer span.footer-left {
        position: absolute;
        left: 10px; }
      div.todo-form div.todo-form-footer-wrapper div.todo-form-footer span.footer-right {
        position: absolute;
        right: 10px; }
      div.todo-form div.todo-form-footer-wrapper div.todo-form-footer button.btn-small {
        font-size: 11px;
        white-space: nowrap;
        border-radius: 3px;
        display: inline-block;
        margin-top: -3px;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-color: #bebebe;
        border-style: solid;
        border-color: #999 transparent transparent;
        border-width: 1px; }
      div.todo-form div.todo-form-footer-wrapper div.todo-form-footer button.btn-small:hover {
        background-color: #b0b0b0; }
      div.todo-form div.todo-form-footer-wrapper div.todo-form-footer div.todo-form-filters {
        text-align: center; }
        div.todo-form div.todo-form-footer-wrapper div.todo-form-footer div.todo-form-filters span {
          padding-left: 5px; }
        div.todo-form div.todo-form-footer-wrapper div.todo-form-footer div.todo-form-filters span.is-selected {
          font-weight: bold; }

/*# sourceMappingURL=todo.css.map */
