.todo-list-item ng-mouseleave="hoverOut(todo)" ng-mouseover="hoverIn(todo)" ng-repeat=("todo in todos | filter:getFilter()")
  span.todo-form-check ng-class=("{'is-completed': todo.isCompleted}") ng-click="todo.toggleCompleted()"  ✓
  .todo-form-leftbar-short
  span.todo-form-remove.pull-right ng-click="removeTodo(todo)" ng-show="todo.hover"  ×
  div ng-switch="todo.editable"
    div ng-switch-when="true"
      .todo-list-task ng-bind="" ng-class=("{'is-completed': todo.isCompleted}")
      input.todo-form-input ng-keyup="onKeyPress($event.keyCode, todo)" ng-model="todo.task"
    div ng-switch-when="false"
      .todo-list-task ng-bind="todo.task" ng-class=("{'is-completed': todo.isCompleted}") ng-dblclick="todo.edit()"