.todo-form-footer-wrapper
  .todo-form-footer
    span.footer-left
      b
      | {{getNotCompleted().length}} items left
    span.footer-right
      button.btn-small ng-click="clearCompleted()" ng-show="getCompleted().length > 0" Clear completed ({{getCompleted().length}})
    .todo-form-filters
      span#todo-form-filter-all ng-class=("{'is-selected': todosFilter === ''}") ng-click=("todosFilter = ''")  All
      span#todo-form-filter-active ng-class=("{'is-selected': todosFilter === 'notCompleted'}") ng-click=("todosFilter = 'notCompleted'")  Active
      span#todo-form-filter-completed ng-class=("{'is-selected': todosFilter === 'completed'}") ng-click=("todosFilter = 'completed'")  Completed
