doctype html
html class="no-js"
  head
    meta charset="utf-8"
    title TodoMVC
    meta name="description" content=""
    meta name="viewport" content="width=device-width"
    /! Place favicon.ico and apple-touch-icon.png in the root directory
    /! build:css(.) styles/vendor.css
    /! bower:css
    /! endbower
    /! endbuild
    /! build:css(.tmp) styles/todo.css
    link rel="stylesheet" href="styles/main.css"
    link rel="stylesheet" href="styles/todo.css"
    /! endbuild
  body ng-app="todomvcApp"
    /! [if lt IE 7]
      p class="browsehappy" You are using an
        strong outdated browser.
        | Please
        a href="http://browsehappy.com/" upgrade your browser
        | to improve your experience.
    /! [endif]

    /! Add your site or application content here
    div class="container"
      div class="header"
        h3 class="text-muted header-title" todos

      div ng-view="" class="ng-view-container"

    /! build:js(.) scripts/oldieshim.js
    /! [if lt IE 9]
    script src="bower_components/es5-shim/es5-shim.js"
    script src="bower_components/json3/lib/json3.js"
    /! [endif]
    /! endbuild

    /! build:js(.) scripts/vendor.js
    /! bower:js

    script src="bower_components/jquery/dist/jquery.js"
    script src="bower_components/underscore/underscore-min.js"
    script src="bower_components/underscore.string/dist/underscore.string.min.js"
    script src="bower_components/angular/angular.js"
    script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"
    script src="bower_components/angular-animate/angular-animate.js"
    script src="bower_components/angular-cookies/angular-cookies.js"
    script src="bower_components/angular-messages/angular-messages.js"
    script src="bower_components/angular-resource/angular-resource.js"
    script src="bower_components/angular-route/angular-route.js"
    script src="bower_components/angular-sanitize/angular-sanitize.js"
    script src="bower_components/angular-touch/angular-touch.js"

    /! endbower
    /! endbuild

    /! build:js({.tmp,app}) scripts/scripts.js

    script src="scripts/app.js"
    script src="scripts/config/route.js"
    script src="scripts/config/run.js"
    script src="scripts/models/todo.js"
    script src="scripts/services/todoService.js"
    script src="scripts/directives/ssTodoListInput.js"
    script src="scripts/directives/ssTodoListItem.js"
    script src="scripts/directives/ssTodoListFooter.js"
    script src="scripts/directives/ssTodoList.js"
    script src="scripts/controllers/todoCtrl.js"

    /! endbuild